* {
  margin: 0px;
  padding: 0px;
}
#pop-up {
  height: 32px;
  position: sticky;
  padding-top: 5px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: aliceblue;
  background-color: black;
}
#pop-up > h3 {
  background-color: black;
  color: white;
  font-weight: bold;
}
#pop-up > i {
  background-color: black;
  color: white;
  padding-left: 20%;
  cursor: pointer;
  color: white;
}

/* navbar */
#navbar {
  position: sticky;
}
#navFirst {
  margin: auto;
  padding-right: 30px;
  padding-top: 3px;
  height: 100px;
  background-color: rgb(248, 245, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Logo {
  width: 250px;
  height: 100px;
  cursor: pointer;
}
#search {
  margin: auto;
  text-align: center;
}
#search input {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 14px 35px;
  color: #4e565c;
  border: 1px solid grey;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
#search button {
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
#search i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80a3bd;
}

.icon > i {
  margin: 8px;
  cursor: pointer;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

#navbarSecond {
  height: 40px;
  color: #4e565c;
  padding-left: 50px;
  background-color: azure;
}
.menu-items {
  display: flex;
}
.menu-items > li {
  list-style: none;
  padding: 10px;
}
.menu-items > li > a {
  font-size: 17px;
  font-weight: bold;
  margin: 0px 20px;
  text-decoration: none;
}

/* Media Query */
@media all and (min-width: 650px) and (max-width: 850px) {
  #navFirst {
    padding-right: 10px;
    padding-top: 3px;
    height: 60px;
  }
  #Logo {
    width: 50%;
    height: 50px;
  }

  #search input {
    padding: 5px;
  }
  #search button {
    font-weight: 700;
    padding: 5px;
  }
  #search i {
    font-size: 8px;
  }
  .icon > i {
    font-size: 18px;
  }
  a {
    font-size: 18px;
  }

  #navbarSecond {
    padding-left: 20px;
  }
  .menu-items > li > a {
    font-size: 14px;
  }
}

@media all and (min-width: 350px) and (max-width: 650px) {
  #pop-up > h3 {
    font-size: 12px;
  }
  .register {
    display: none;
  }
  .searchBar {
    display: none;
  }
  #navbarSecond {
    height: auto;
    background-color: azure;
  }
  .menu-items {
    display: block;
    text-align: center;
  }
  .menu-items > li {
    list-style: none;
    padding: 5px;
  }
  .menu-items > li > a {
    font-size: 15px;
  }
}
