*{
    margin: 0px;
    padding: 0px;
}
.head-image{
    height: 270px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.head-image>img{
    width: 100%;
    height: 100%;
}
.gridbox{
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 25px;
}
.gridimg{
    height: 370px;
    padding: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border: 1px solid red; */
    background-color: white;
}
.gridimg>img{
    margin-bottom: 7px;
    height: 240px;
    cursor: pointer;
}
.gridimg>p{
    margin: 4px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}
.gridimg>p>span{
    opacity: 0.9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#btn{
    width: 100%;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .gridbox{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .gridimg{
        height: 250px;
    }
    .gridimg>img{
        width: 50%;
        height: 50%;
    }
    .gridimg>p>span{
        font-size: 15px;
    }
    #btn{
        width: 100%;
        padding: 5px;
        background-color: black;
        color: white;
        cursor: pointer;
        text-align: center;
    }
    }
    
    @media all and (min-width: 320px) and (max-width: 767px) {
        .gridbox{
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: auto;
        }
        .gridimg{
            height: 250px;
        }
        .gridimg>img{
            width: 50%;
            height: 50%;
        }
        .gridimg>p>span{
            font-size: 15px;
        }
        #btn{
            width: 100%;
            padding: 5px;
            background-color: black;
            color: white;
            cursor: pointer;
            text-align: center;
        }
    
    }